:root {
    --gold: #b59241;
    --gold-light: #d9c596;
    --gray-light: #f4f4f4;
}

html {
    font-family: 'Source Sans 3', sans-serif;
    background-color: #344648;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom left, #dfeaee, #9fbcbf);
}


.content {
    margin: 0 auto;
    width: 100%;
    max-width: 100ch;
    padding: 1rem;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

html.dark {
    color: #fff;
    background-color: black;

    body {
        background-image: linear-gradient(to bottom left, #0d0950, black);
    }

    footer {
        background-color: black;
    }

    a {
        color: #ffbb98;
    }
}

.dark .nav-links a {
    color: #fff;
}

.card {
    min-width: 20rem;
    min-height: 10rem;
    border-radius: 0.5rem;
    padding: 0.3rem 0.8rem;
    background-image: linear-gradient(to bottom left,
            rgba(255, 255, 255, 0.1),
            rgb(0, 0, 0, 0.1));
    box-shadow: -1px 1px 5px rgb(0, 0, 0, 0.5);
    color: black;
    text-decoration: none;

    &:hover {
        opacity: 1;
    }
}

.dark .card {
    color: #fbe0c3;
}

/* nav styles */
.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ffbb98;
}

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
}

a {
    color: #344648;

    &:hover {
        text-decoration: none;
    }

    &:active {
        opacity: 0.6;
    }
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
    color: #ffbb98;
}

.expanded {
    display: unset;
    order: 2;
}

nav {
    padding: 1rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 636px) {
    .hamburger {
        display: none;
    }

    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

}