---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogTag from "../../components/blog/BlogTag.astro";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tags";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="tags">
        {tags.map((tag) => <BlogTag tag={tag} />)}
    </div>
    <style>
        .tags {
            gap: 0.2rem;
            display: flex;
            flex-wrap: wrap;
        }
    </style>
</BaseLayout>
