---
import "../styles/global.scss";
import BaseLayout from "../layouts/BaseLayout.astro";
import LinkedinSocial from "../components/social/LinkedinSocial.astro";
import GithubSocial from "../components/social/GithubSocial.astro";

const pageTitle = "Om meg";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Ine Lofthus Arnesen</h2>
    <div><LinkedinSocial/></div>
    <div><GithubSocial/></div>
</BaseLayout>