---
import BlogPost from "../components/blog/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "Blogg";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Bloggposter</h2>
	<ul>
		{
			allPosts.map((post) => (
				<BlogPost url={post.url} title={post.frontmatter.title} />
			))
		}
	</ul>
</BaseLayout>
