---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Blogg"
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Bloggposter</h2>
	<ul>
		<li><a href="/posts/multiple-git-emails/">Post 1</a></li>
	</ul>
</BaseLayout>
