---
import BlogTag from "../components/blog/BlogTag.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Skrevet av {frontmatter.author}</p>
    <div class="tags">
        {frontmatter.tags.map((tag) => <BlogTag tag={tag} />)}
    </div>
    <slot />
    <style>
        .tags {
            gap: 0.2rem;
            display: flex;
            flex-wrap: wrap;
        }
    </style>
</BaseLayout>
